@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(248, 248, 248);
}

h1, h2, h3, h4, h5 {
    color: rgb(54, 54, 54);
}

p, label {
    color: #7a7a7a;
}

input {
    border: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding:  10px 0px;
}

input[type="text"],
input[type="number"],
input[type="date"], 
input[type="file"] {
    width: 400px;
}

.header {
    background-color: blueviolet;
    height: 160px;
    padding: 20px;
}
.header h3 {
    color: white;
}

.form-container {
    background-color: #fffefe;
    border-radius: 5px;
    box-shadow: 1px -1px 5px 0px black;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}